<% if logged_in? %>
	<div class="row">
		<aside class="side_panel">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
		</aside>
	</div>
<% else %>
	<div class="">
		<h2>
			<a href="#">Facebook</a>
		</h2>

		<%= link_to "Sign Up Now", signup_path, class: "btn" %>
	</div>
<% end %>